Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml, Pipelines/Husa.Extensions.Media-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Domain-CI.yaml: any of: Husa.Extensions.Domain
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml: any of: Husa.Extensions.Downloader.Trestle, Husa.Extensions.Downloader.Trestle.Tests
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml: any of: Husa.Extensions.Logger.Enrichers
  Pipelines/Husa.Extensions.Media-CI.yaml: any of: Husa.Extensions.Media
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

HRP-8322 photo invoice integration [WIP]
  Husa.Extensions.Quickbooks/Configuration/PhotoRequestConstants.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
  Husa.Extensions.Quickbooks/Models/Invoice/ItemDetailPhotoDto.cs
Due: none

HRP-8322 Save changes
  Husa.Extensions.Quickbooks/Configuration/PhotoRequestConstants.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Interfaces/IListingQuickbooksService.cs
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
  Husa.Extensions.Quickbooks/Models/Invoice/ItemDetailPhotoDto.cs
Due: none

Merged in feature/HRP-8461 (pull request #258)
  Husa.Extensions.Authorization/Filters/ApiAuthorizationAttribute.cs
  Husa.Extensions.Authorization/Filters/AuthorizationFilter.cs
  Husa.Extensions.Authorization/Filters/RolesFilterAttribute.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/IProvideCompany.cs
  Husa.Extensions.Authorization/Specifications/EntitySpecifications.cs
Due: none

Merged in feature/HRP-8291 (pull request #259)
  Husa.Extensions.OpenAI.Tests/OpenAIClientTests.cs
  Husa.Extensions.OpenAI/Api/OpenAIController.cs
  Husa.Extensions.OpenAI/Configuration/OpenAIBoostrapper.cs
  Husa.Extensions.OpenAI/Enums/ModelType.cs
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/IOpenAIClient.cs
  Husa.Extensions.OpenAI/Models/LocatePeopleAndBrandsRequest.cs
  Husa.Extensions.OpenAI/Models/LocatePeopleAndBrandsResponse.cs
  Husa.Extensions.OpenAI/OpenAIClient.cs
  Husa.Extensions.OpenAI/Properties/Resources.Designer.cs
  Husa.Extensions.OpenAI/Properties/Resources.resx
  Husa.Extensions.OpenAI/Providers/TestOpenAIClient.cs
Due: none

HRP-8774 final version
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
Due: none

Merged in feature/azure-app-configuration-dev (pull request #260)
  Husa.Extensions.Api/AzureAppConfigurationExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-8291 (pull request #263)
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/Properties/Resources.Designer.cs
  Husa.Extensions.OpenAI/Properties/Resources.resx
Due: none

Merged in feature/HRP-8291-D (pull request #264)
  Husa.Extensions.Api/AzureAppConfigurationExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/Properties/Resources.Designer.cs
  Husa.Extensions.OpenAI/Properties/Resources.resx
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-8143 (pull request #265)
  Husa.Extensions.Api/Conventions/UtcDateTimeConverter.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/Mvc/MvcConfigurationExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/UtcDateTimeValueConverter.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

HRP-8716 CleanForComparison added
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in feature/HRP-8707 (pull request #267)
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in feature/HRP-8143 (pull request #268)
  Husa.Extensions.Common.Tests/DateTimeExtensionsTests.cs
  Husa.Extensions.Common/DateTimeExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-8323 New parameter added to Dto
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
Due: none

Merged in feature/HRP-8900 (pull request #270)
  Husa.Extensions.Api/Client/HttpClientExtensions.cs
  Husa.Extensions.Api/Handlers/AuthTokenHandler.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/IdentityApiConfiguration.cs
  Husa.Extensions.Authorization/Extensions/UserExtensions.cs
  Husa.Extensions.Authorization/Filters/AuthorizationFilter.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

HRP-8495 Constants updated
  Husa.Extensions.Quickbooks/Configuration/PhotoRequestConstants.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
Due: none

Merged in bugfix/HRP-8143 (pull request #272)
  Husa.Extensions.Common.Tests/DateTimeExtensionsTests.cs
  Husa.Extensions.Common/DateTimeExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-8495 model updated for quickbooks
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in feature/HRP-8143 (pull request #273)
  Husa.Extensions.Authorization/Filters/AuthorizationFilter.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/IUserContext.cs
  Husa.Extensions.Authorization/IUserContextProvider.cs
  Husa.Extensions.Authorization/Models/UserContext.cs
  Husa.Extensions.Authorization/UserProvider.cs
Due: none

Merged in feature/HRP-8143 (pull request #275)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/IUserContextProvider.cs
  Husa.Extensions.Authorization/UserProvider.cs
Due: none

Merged in feature/HRP-8964 (pull request #276)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-8964 (pull request #277)
  Husa.Extensions.Document/Extensions/ChangesLogExtensions.cs
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Interfaces/ISavedChangesLog.cs
  Husa.Extensions.Document/Models/ChangedField.cs
  Husa.Extensions.Document/Models/SavedChangesLog.cs
  Husa.Extensions.Document/Models/SavedChangesLogQueryResult.cs
  Husa.Extensions.Document/Projections/SavedChangesLogProjection.cs
  Husa.Extensions.Document/QueryFilters/RequestBaseQueryFilter.cs
  Husa.Extensions.Document/Repositories/ChangesLogQueriesRepository.cs
  Husa.Extensions.DocumentTests/Extensions/ChangesLogExtensionsTests.cs
Due: none

Merged in bugfix/HRP-8964 (pull request #278)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

HRP-9036 new parameter added
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
Due: none

Merged in bugfix/HRP-8964 (pull request #280)
  Husa.Extensions.Document/Extensions/ChangesLogExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Interfaces/ISavedChangesLog.cs
  Husa.Extensions.Document/Models/ChangedField.cs
  Husa.Extensions.Document/Models/ChangesLogQueryResult.cs
  Husa.Extensions.Document/Models/SavedChangesLog.cs
  Husa.Extensions.Document/Projections/SavedChangesLogProjection.cs
  Husa.Extensions.Document/Repositories/ChangesLogQueriesRepository.cs
  Husa.Extensions.DocumentTests/Extensions/ChangesLogExtensionsTests.cs
Due: none

HRP-9036 new parameter added to Dto
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.Quickbooks/Models/Invoice/BillingPhotoRequestDto.cs
Due: none

Merged in bugfix/HRP-8707 (pull request #281)
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in feature/HRP-9074 (pull request #283)
  Husa.Extensions.Common/Exceptions/Filters/ExceptionLoggingFilterAttribute.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-9086 (pull request #284)
  Husa.Extensions.Document/Extensions/ChangesLogExtensions.cs
  Husa.Extensions.Document/Extensions/ObjectExtensions.cs
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/ValueObjects/SummaryField.cs
Due: none

Merged in bugfix/HRP-9050 (pull request #285)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/Specifications/SortSpecifications.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in bugfix/HRP-9050-D (pull request #286)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/Specifications/SortSpecifications.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

HRP-9139 Final version
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-8965 (pull request #289)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Document/Extensions/CopyPropertiesExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Models/SavedChangesLog.cs
  Husa.Extensions.DocumentTests/Extensions/CopyPropertiesExtensionsTests.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-8965 update husa extensions
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-9240 (pull request #290)
  Husa.Extensions.Common.Tests/ExceptionFilterTest.cs
  Husa.Extensions.Common.Tests/Exceptions/ExceptionLoggingFilterAttributeTests.cs
  Husa.Extensions.Common/Exceptions/Filters/ExceptionLoggingFilterAttribute.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-9272 (pull request #291)
  Husa.Extensions.Document/Extensions/ChangesLogExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.DocumentTests/Extensions/ChangesLogExtensionsTests.cs
Due: none

feature/HRP-9221: Update Microsoft.Extensions.Hosting.Abstractions to 9.0.7
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in bugfix/SB-18-fix-media-not-uploading (pull request #293)
  Husa.Extensions.Media/Extensions/FileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in develop (pull request #295)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Common.Tests/ExceptionFilterTest.cs
  Husa.Extensions.Common.Tests/Exceptions/ExceptionLoggingFilterAttributeTests.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Exceptions/Filters/ExceptionLoggingFilterAttribute.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Document/Extensions/ChangesLogExtensions.cs
  Husa.Extensions.Document/Extensions/CopyPropertiesExtensions.cs
  Husa.Extensions.Document/Extensions/ObjectExtensions.cs
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Models/ChangesLogQueryResult.cs
  Husa.Extensions.Document/Models/SavedChangesLog.cs
  Husa.Extensions.Document/QueryFilters/RequestBaseQueryFilter.cs
  Husa.Extensions.Document/Repositories/ChangesLogQueriesRepository.cs
  Husa.Extensions.Document/ValueObjects/SummaryField.cs
  Husa.Extensions.DocumentTests/Extensions/ChangesLogExtensionsTests.cs
  Husa.Extensions.DocumentTests/Extensions/CopyPropertiesExtensionsTests.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/SNF-56 (pull request #296)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/ValueObjects/ValueObject.cs
  Husa.Extensions.ShowingTime.Data/DbConfiguration/ShowingTimeExtensions.cs
  Husa.Extensions.ShowingTime.Data/Husa.Extensions.ShowingTime.Data.csproj
  Husa.Extensions.ShowingTime.Data/Specifications/ShowingTimeSpecifications.cs
  Husa.Extensions.ShowingTime.Tests/Entities/AccessInformationTests.cs
  Husa.Extensions.ShowingTime.Tests/Entities/AppointmentRestrictionsTests.cs
  Husa.Extensions.ShowingTime.Tests/Husa.Extensions.ShowingTime.Tests.csproj
  Husa.Extensions.ShowingTime/Enums/AccessMethod.cs
  Husa.Extensions.ShowingTime/Enums/AdvancedNotice.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentChangesNotificationOptions.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentLength.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentPresentationType.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentRequestType.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentTimeHours.cs
  Husa.Extensions.ShowingTime/Enums/AppointmentType.cs
  Husa.Extensions.ShowingTime/Enums/ConfirmAppointmentCaller.cs
  Husa.Extensions.ShowingTime/Enums/ContactScope.cs
  Husa.Extensions.ShowingTime/Enums/FeedbackTemplate.cs
  Husa.Extensions.ShowingTime/Enums/OverlappingAppointmentMode.cs
  Husa.Extensions.ShowingTime/Enums/StaffLanguage.cs
  Husa.Extensions.ShowingTime/Enums/TimeBetweenAppointments.cs
  Husa.Extensions.ShowingTime/Extensions/ShowingTimeExtensions.cs
  Husa.Extensions.ShowingTime/Husa.Extensions.ShowingTime.csproj
  Husa.Extensions.ShowingTime/Interfaces/IAccessInformation.cs
  Husa.Extensions.ShowingTime/Interfaces/IAdditionalInstructions.cs
  Husa.Extensions.ShowingTime/Interfaces/IAppointmentRestrictions.cs
  Husa.Extensions.ShowingTime/Interfaces/IAppointmentSettings.cs
  Husa.Extensions.ShowingTime/Interfaces/IContactOrder.cs
  Husa.Extensions.ShowingTime/Interfaces/IProvideShowingTime.cs
  Husa.Extensions.ShowingTime/Interfaces/IShowingTime.cs
  Husa.Extensions.ShowingTime/Interfaces/IShowingTimeContact.cs
  Husa.Extensions.ShowingTime/Models/AccessInformation.cs
  Husa.Extensions.ShowingTime/Models/AdditionalInstructions.cs
  Husa.Extensions.ShowingTime/Models/AppointmentRestrictions.cs
  Husa.Extensions.ShowingTime/Models/AppointmentSettings.cs
  Husa.Extensions.ShowingTime/Models/ShowingTime.cs
  Husa.Extensions.ShowingTime/Models/ShowingTimeValueObject.cs
  Husa.Extensions.sln
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in feature/SNF-56-fix (pull request #297)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/ValueObjects/ValueObject.cs
Due: Pipelines/Husa.Extensions.Domain-CI.yaml
