Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Pipelines/Husa.Extensions.Api-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloudHomesUSA
      organization: homesusa
      scannerMode: MSBuild
      projectKey: Husa_Extensions.Api
      projectName: Husa.Extensions.Api
      extraProperties: 'sonar.exclusions=**/obj/**,**/*.dll
  
  ...

Pipelines/Husa.Extensions.Api.Cors-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloudHomesUSA
      organization: homesusa
      scannerMode: MSBuild
      projectKey: Husa_Extensions.Api.Cors
      projectName: Husa.Extensions.Api.Cors
  ...

Pipelines/Husa.Extensions.Cache-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Cache.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Cache.csproj'
  ...

Pipelines/Husa.Extensions.Common-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Common.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Common.csproj'
  ...

Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Downloader.RetsSdk.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
  ...

Pipelines/Husa.Extensions.EmailNotification-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloudHomesUSA
      organization: homesusa
      scannerMode: MSBuild
      projectKey: Husa_Extensions.EmailNotification
      projectName: Husa.Extensions.EmailNotification
  ...

Pipelines/Husa.Extensions.Linq-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Linq.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Linq.csproj'
  ...

Pipelines/Husa.Extensions.ServiceBus-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloudHomesUSA
      organization: homesusa
      scannerMode: MSBuild
      projectKey: Husa_Extensions.ServiceBus
      projectName: Husa.Extensions.ServiceBus
  ...

Merged in feature/HRP-1313-add-your-comparison-report-template (pull request #90)
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2947-add-ctx-market (pull request #91)
  Husa.Extensions.Common/Enums/MarketCode.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

feature/HRP-2957 - newtonsoft version
  Husa.Extensions.Downloader.Trestle/Contracts/AuthenticationResult.cs
  Husa.Extensions.Downloader.Trestle/Contracts/MultipartImage.cs
  Husa.Extensions.Downloader.Trestle/Contracts/ODataResponse.cs
  Husa.Extensions.Downloader.Trestle/Helpers/MultipartParser.cs
  Husa.Extensions.Downloader.Trestle/Models/AuthenticationResult.cs
  Husa.Extensions.Downloader.Trestle/Models/ODataResponse.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

Feature/HRP-2957 - [BE] Implement logic to connect to trestle data provider to be used by all Azure Functions when downloading data
  Husa.Extensions.Downloader.Trestle/Contracts/AuthenticationResult.cs
  Husa.Extensions.Downloader.Trestle/Contracts/MultipartImage.cs
  Husa.Extensions.Downloader.Trestle/Contracts/ODataResponse.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/BoolConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringListEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringNullableEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Extensions/EnumExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Extensions/JsonSerializerExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Extensions/LinqExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Extensions/TypeExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Extensions/XDocumentExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/MultipartParser.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Str.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/CustomProperty.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AOR.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AreaSource.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AreaUnits.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AvailabilityType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BoatDockSlipFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BuyerAgentDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CoBuyerAgentDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CoListAgentDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/DocumentsAvailable.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/EventTarget.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ListAgentDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/MediaType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/MemberDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SocialMediaType.cs
  Husa.Extensions.Downloader.Trestle/Models/Media.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Models/OpenHouse.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyRooms.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyUnitTypes.cs
  Husa.Extensions.Downloader.Trestle/Models/TeamMembers.cs
  Husa.Extensions.Downloader.Trestle/Models/Teams.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-2957 - jsonconverters added to office
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-2957 - Jsonconverters added to models
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Media.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/OpenHouse.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyRooms.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyUnitTypes.cs
  Husa.Extensions.Downloader.Trestle/Models/TeamMembers.cs
  Husa.Extensions.Downloader.Trestle/Models/Teams.cs
Due: none

Merged in feature/HRP-2925 (pull request #94)
  Husa.Extensions.Api/Client/HusaStandardClient.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

feature/HRP-3014 - [BE] Create trestle API client to wrap the requester and API session handling
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/IntToStringConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringNullableEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/BlobOptions.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupMedia.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupOpenHouse.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupRoom.cs
  Husa.Extensions.Downloader.Trestle/Models/Media.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyRooms.cs
  Husa.Extensions.Downloader.Trestle/Models/TableEntities/TokenEntity.cs
  Husa.Extensions.Downloader.Trestle/Repositories/BlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Repositories/IBlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-3014 - Code refactor, global editorconfig and README
  Husa.Extensions.Downloader.Trestle/.editorconfig
  Husa.Extensions.Downloader.Trestle/Contracts/ODataResponse.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/BoolConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/IntToStringConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringListEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringNullableEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AssociationFeeIncludes.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Electric.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/View.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WaterfrontFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupEntity.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupMedia.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupOpenHouse.cs
  Husa.Extensions.Downloader.Trestle/Models/GroupRoom.cs
  Husa.Extensions.Downloader.Trestle/Models/MarketOptions.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
  Husa.Extensions.Downloader.Trestle/README.md
  Husa.Extensions.Downloader.Trestle/Repositories/BlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Repositories/IBlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

Merged in feature/HRP-2957 (pull request #93)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Media.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Models/OpenHouse.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyRooms.cs
  Husa.Extensions.Downloader.Trestle/Models/PropertyUnitTypes.cs
  Husa.Extensions.Downloader.Trestle/Models/TeamMembers.cs
  Husa.Extensions.Downloader.Trestle/Models/Teams.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

Feature/HRP-3014 - code refactor, queryStringExtensions added
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringListEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/StringNullableEnumConverter.cs
  Husa.Extensions.Downloader.Trestle/Helpers/QueryStringExtensions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-3014 - blobTableRepository bugfix
  Husa.Extensions.Downloader.Trestle/Repositories/BlobTableRepository.cs
Due: none

feature/HRP-3014 - Trestleclient bootstrap configuration
  Husa.Extensions.Downloader.Trestle/Configuration/TrestleClientConfiguration.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/README.md
Due: none

feature/HRP-3014 - readme edited
  Husa.Extensions.Downloader.Trestle/README.md
Due: none

Merged in feature/HRP-3014 (pull request #97)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
Due: none

Merged in feature/downloader-trestle-pipeline (pull request #96)
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml
Due: none

Merged in feature/HRP-3063-add-enum-extensions (pull request #98)
  Husa.Extensions.Common.Tests/EnumSerializerTest.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3063-add-value-converters (pull request #99)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueComparer/StringCollectionValueComparer.cs
  Husa.Extensions.Linq/ValueConverters/EnumCollectionValueConverter.cs
  Husa.Extensions.Linq/ValueConverters/EnumFieldValueConverter.cs
  Pipelines/Husa.Extensions.Linq-CI.yaml
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3063-add-enum-from-text-extension (pull request #100)
  Husa.Extensions.Common.Tests/EnumSerializerTest.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/StringExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-2950 (pull request #101)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueComparer/StringCollectionValueComparer.cs
  Husa.Extensions.Linq/ValueConverters/EnumCollectionValueConverter.cs
  Husa.Extensions.Linq/ValueConverters/EnumFieldValueConverter.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-2950 (pull request #102)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-2973 (pull request #103)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: none

Merged in feature/HRP-3125 (pull request #104)
  Husa.Extensions.Api/Client/HttpClientExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Authorization/Filters/AuthorizationFilter.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/IUserContext.cs
  Husa.Extensions.Authorization/Models/UserContext.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-3125 (pull request #105)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/IdentityApiConfiguration.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-3196-add-order-to-enum-collection-value-converter (pull request #106)
  Directory.Build.props
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/EnumCollectionValueConverter.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3196-add-order-to-enum-collection-value-converter (pull request #107)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/EnumCollectionValueConverter.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3196-add-order-to-enum-collection-value-converter (pull request #108)
  Husa.Extensions.Common.Tests/SummaryExtensionsTest.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/SummaryExtensions.cs
  Husa.Extensions.Common/ValueObjects/SummaryField.cs
  Husa.Extensions.Common/ValueObjects/ValueObject.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2813 (pull request #109)
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.EmailNotification/Services/EmailSender.cs
  Husa.Extensions.EmailNotification/Services/IEmailSender.cs
  Husa.Extensions.Linq/EntityExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/StringExtensions.cs
  Husa.Extensions.Linq/ValueComparer/EnumCollectionValueComparer.cs
  Husa.Extensions.Linq/ValueConverters/StringCollectionValueConverter.cs
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-2962-add-net6-support (pull request #110)
  Directory.Build.props
  Husa.Extensions.Api.Cors/Husa.Extensions.Api.Cors.csproj
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Cache/Husa.Extensions.Cache.csproj
  Husa.Extensions.Common.Tests/ExceptionFilterTest.cs
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/SummaryExtensions.cs
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Logger.Enrichers.Tests/Husa.Extensions.Logger.Enrichers.Tests.csproj
  Husa.Extensions.Logger.Enrichers/Husa.Extensions.Logger.Enrichers.csproj
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.UserInfo/Husa.Extensions.UserInfo.csproj
  Pipelines/Husa.Extensions.Authorization-CI.yaml
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Merged in feature/HRP-3436 (pull request #111)
  Husa.Extensions.Api/Client/HttpClientExtensions.cs
  Husa.Extensions.Api/Handlers/AuthTokenHandler.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/IdentitySettings.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-2962-include-common-enums (pull request #112)
  Directory.Build.props
  Husa.Extensions.Common/Enums/States.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Downloader.Trestle.Tests/Husa.Extensions.Downloader.Trestle.Tests.csproj
  Husa.Extensions.Downloader.Trestle.Tests/TrestleClientTest.cs
  Husa.Extensions.Logger.Enrichers.Tests/Husa.Extensions.Logger.Enrichers.Tests.csproj
  Husa.Extensions.sln
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3395-modify-enum-types-comparison-of-summaries (pull request #113)
  Husa.Extensions.Common.Tests/SummaryExtensionsTest.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/SummaryExtensions.cs
  Husa.Extensions.Common/ValueObjects/SummaryField.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3395-modify-enum-types-comparison-of-summaries (pull request #114)
  Husa.Extensions.Common.Tests/SummaryExtensionsTest.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/SummaryExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3395-modify-enum-types-comparison-of-summaries (pull request #115)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/EnumFieldValueConverter.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3374-correct-project-namespaces (pull request #116)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/StringExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/StringExtensions.cs
  Husa.Extensions.Linq/ValueComparer/StringCollectionValueComparer.cs
  Husa.Extensions.Linq/ValueConverters/StringCollectionValueConverter.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3483-common (pull request #117)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/ValueObjects/ValueObject.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3440 (pull request #118)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/SummaryExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in bugfix/UATV3-144 (pull request #119)
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.EmailNotification/Services/EmailSender.cs
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo
