Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml, Pipelines/Husa.Extensions.Media-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Domain-CI.yaml: any of: Husa.Extensions.Domain
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml: any of: Husa.Extensions.Downloader.Trestle, Husa.Extensions.Downloader.Trestle.Tests
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml: any of: Husa.Extensions.Logger.Enrichers
  Pipelines/Husa.Extensions.Media-CI.yaml: any of: Husa.Extensions.Media
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

Merged in feature/SNF-58 (pull request #298)
  Husa.Extensions.ShowingTime/Extensions/ShowingTimeExtensions.cs
  Husa.Extensions.ShowingTime/Husa.Extensions.ShowingTime.csproj
Due: none

Merged in feature/SNF-58-fix (pull request #299)
  Husa.Extensions.ShowingTime.Data/DbConfiguration/ShowingTimeExtensions.cs
  Husa.Extensions.ShowingTime.Data/Husa.Extensions.ShowingTime.Data.csproj
Due: none

Merged in feature/SI-183 (pull request #300)
  Husa.Extensions.ShowingTime/Enums/AccessMethod.cs
  Husa.Extensions.ShowingTime/Husa.Extensions.ShowingTime.csproj
Due: none

Merged in feature/SB-99-correct-404-from-rets-connection (pull request #302)
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.RetsSdk/Services/IRetsSession.cs
  Husa.Extensions.Downloader.RetsSdk/Services/RetsSession.cs
Due: Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml

Merged in feature/SNF-32 (pull request #304)
  Husa.Extensions.Api/AzureVaultConfigurationExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/SNF-32-D (pull request #305)
  Husa.Extensions.Api/AzureVaultConfigurationExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in bugfix/HRP-8988 (pull request #306)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/CommunityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StructureType.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/SI-281-D (pull request #307)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/SI-193 (pull request #308)
  Husa.Extensions.Common.Tests/MapperConfigurationExtensionsTests.cs
  Husa.Extensions.Common.Tests/Providers/Destination.cs
  Husa.Extensions.Common.Tests/Providers/Source.cs
  Husa.Extensions.Common.Tests/Providers/TestProfile.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/MapperConfigurationExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Specifications/Document/DocumentSpecifications.cs
  Husa.Extensions.DocumentTests/Specifications/DocumentSpecificationsTests.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/SNF-123 (pull request #309)
  Husa.Extensions.Domain/Entities/Entity.cs
  Husa.Extensions.Domain/Extensions/EntityExtensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/Interfaces/IEntity.cs
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in feature/SNF-123 (pull request #310)
  Husa.Extensions.Domain/Entities/Entity.cs
  Husa.Extensions.Domain/Extensions/EntityExtensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/Interfaces/IEntity.cs
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in bugfix/SNF-225 (pull request #311)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in bugfix/SNF-225-develop-merge (pull request #312)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/CommunityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StructureType.cs
Due: Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Add GitHub Actions workflows and update NuGet.config for GitHub Packages
  .github/workflows/ci.yml
  .github/workflows/publish-packages.yml
  NuGet.config
Due: none

Fix workflow: Remove existing NuGet source before adding to avoid conflicts
  .github/workflows/ci.yml
  .github/workflows/publish-packages.yml
Due: none

Add test workflow with PACKAGE_PAT secret reference
  .github/workflows/publish-packages-test.yml
Due: none

Fix: Suppress TreatWarningsAsErrors for vulnerable package detection
  .github/workflows/publish-packages-test.yml
Due: none

Fix: Suppress NuGet pack warnings NU1902 and NU5039
  .github/workflows/publish-packages-test.yml
Due: none

Fix: Use semicolon separator for NoWarn property
  .github/workflows/publish-packages-test.yml
Due: none

fix: Change runner to windows-latest for case-sensitivity
  .github/workflows/publish-packages.yml
Due: none

fix: Update NuGet config step for PowerShell syntax
  .github/workflows/publish-packages.yml
Due: none

fix: Add PowerShell shell to all steps
  .github/workflows/publish-packages.yml
Due: none

fix: Use PACKAGE_PAT instead of GITHUB_TOKEN
  .github/workflows/publish-packages.yml
Due: none

fix: Use build to auto-generate packages instead of pack
  .github/workflows/publish-packages.yml
Due: none

fix: Suppress moderate NuGet audit warnings
  Directory.Build.props
Due: none
