Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Pipelines/Husa.Extensions.Api.Cors-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Api.Cors.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Api.Cors.csproj'
  ...

Pipelines/Husa.Extensions.Cache-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Cache.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Cache.csproj'
  ...

Pipelines/Husa.Extensions.Common-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Common.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Common.csproj'
  ...

Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Downloader.RetsSdk.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
  ...

Pipelines/Husa.Extensions.EmailNotification-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.EmailNotification.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
  ...

Pipelines/Husa.Extensions.Linq-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.Linq.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.Linq.csproj'
  ...

Pipelines/Husa.Extensions.UserInfo-CI.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: '**/Husa.Extensions.UserInfo.csproj'
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: '**/Husa.Extensions.UserInfo.csproj'
  ...

azure-pipelines.yml edited online with Bitbucket
  azure-pipelines.yml
Due: none

Update Husa.Extensions.UserInfo-CI.yaml for Azure Pipelines
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

Merged in feature/HRP-2162 (pull request #52)
  Husa.Extensions.EmailNotification/Enums/EmailParameter.cs
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

PR Validation
  Pipelines/Husa.Extensions.Api-CI.yaml
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml
  Pipelines/Husa.Extensions.Authorization-CI.yaml
  Pipelines/Husa.Extensions.Cache-CI.yaml
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml
  Pipelines/Husa.Extensions.Linq-CI.yaml
  Pipelines/Husa.Extensions.Media-CI.yaml
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

sonnar cloud integration
  Pipelines/Husa.Extensions.Api-CI.yaml
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml
  Pipelines/Husa.Extensions.Authorization-CI.yaml
  Pipelines/Husa.Extensions.Cache-CI.yaml
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml
  Pipelines/Husa.Extensions.Linq-CI.yaml
  Pipelines/Husa.Extensions.Media-CI.yaml
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

Merged in feature/MIS-89 (pull request #54)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/ModelBinder/JsonWithFilesFormDataModelBinder.cs
  Husa.Extensions.Media/Constants/ManagedFileExtensions.cs
  Husa.Extensions.Media/Constants/ManagedMediaTypes.cs
  Husa.Extensions.Media/Extensions/FileExtensions.cs
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.Media/Interfaces/IBlobService.cs
  Husa.Extensions.Media/Services/BlobService.cs
Due: none

Merged in feature/HRP-2380 (pull request #53)
  Husa.Extensions.EmailNotification/Enums/EmailParameter.cs
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2480 (pull request #55)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2480-fix-exception-filter-issue (pull request #56)
  Husa.Extensions.Common.Tests/ExceptionFilterTest.cs
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Exceptions/Filters/NotFoundException.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.sln
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2473 (pull request #57)
  Husa.Extensions.Common/Enums/PhoneType.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2380 (pull request #58)
  Husa.Extensions.EmailNotification/Enums/EmailParameter.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2380 (pull request #59)
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2380 (pull request #60)
  Husa.Extensions.Common/DateTimeExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2591 (pull request #61)
  Husa.Extensions.EmailNotification/Enums/EmailParameter.cs
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2112-update-allowed-cors-verbs (pull request #62)
  Husa.Extensions.Api.Cors/CorsConfigurationExtensions.cs
  Husa.Extensions.Api.Cors/Husa.Extensions.Api.Cors.csproj
Due: Pipelines/Husa.Extensions.Api.Cors-CI.yaml

Merged in feature/HRP-1617-add-base-message-handler-class (pull request #63)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Services/MessagesHandler.cs
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
Due: none

Merged in feature/HRP-2277-move-command-result-to-extensions (pull request #65)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/IUserContextProvider.cs
  Husa.Extensions.Authorization/UserProvider.cs
  Husa.Extensions.Common/Classes/CommandResult.cs
  Husa.Extensions.Common/Classes/DataSet.cs
  Husa.Extensions.Common/Enums/ResponseCode.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2166 (pull request #66)
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.RetsSdk/Models/ConnectionOptions.cs
  Husa.Extensions.Downloader.RetsSdk/Models/SearchRequest.cs
  Husa.Extensions.Downloader.RetsSdk/Models/SearchResult.cs
  Husa.Extensions.Downloader.RetsSdk/Services/IRetsClient.cs
  Husa.Extensions.Downloader.RetsSdk/Services/IRetsSession.cs
  Husa.Extensions.Downloader.RetsSdk/Services/RetsClient.cs
  Husa.Extensions.Downloader.RetsSdk/Services/RetsSession.cs
  Husa.Extensions.Downloader.RetsSdk/Services/RetsWebRequester.cs
Due: Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml

Merged in feature/HRP-2770-update-nuget-packages-common (pull request #67)
  Directory.Build.props
  Husa.Extensions.Authorization/Extensions/UserExtensions.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/Models/HusaClaimTypes.cs
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2770-update-nuget-packages-api (pull request #68)
  Husa.Extensions.Api/Client/HttpClientExtensions.cs
  Husa.Extensions.Api/Configuration/ApiOptions.cs
  Husa.Extensions.Api/Configuration/Policies.cs
  Husa.Extensions.Api/Configuration/Roles.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/IdentityApiConfiguration.cs
  Husa.Extensions.Api/LoggingConfiguration.cs
Due: none

Merged in feature/HRP-2770-update-nuget-packages-api-cors (pull request #69)
  Directory.Build.props
  Husa.Extensions.Api.Cors/Husa.Extensions.Api.Cors.csproj
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2770-update-nuget-packages-cache (pull request #70)
  Husa.Extensions.Cache/Husa.Extensions.Cache.csproj
Due: Pipelines/Husa.Extensions.Cache-CI.yaml

Merged in release/2.2.0-master (pull request #74)
  Husa.Extensions.Api/Client/HusaStandardClient.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: none

Merged in feature/HRP-2770-update-nuget-package-linq (pull request #72)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-2770-update-nuget-package-email (pull request #75)
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2843 (pull request #77)
  Husa.Extensions.Common/Classes/CommandResult.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2770-update-media-extension (pull request #78)
  Directory.Build.props
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml

Merged in feature/releasemode (pull request #76)
  Pipelines/Husa.Extensions.Api-CI.yaml
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml
  Pipelines/Husa.Extensions.Authorization-CI.yaml
  Pipelines/Husa.Extensions.Cache-CI.yaml
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml
  Pipelines/Husa.Extensions.Linq-CI.yaml
  Pipelines/Husa.Extensions.Media-CI.yaml
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

Merged in feature/HRP-2230 (pull request #79)
  Husa.Extensions.Api.Middleware/Husa.Extensions.Api.Middleware.csproj
  Husa.Extensions.Api.Middleware/ProductVersionHeaderMiddleware.cs
  Husa.Extensions.sln
  Pipelines/Husa.Extensions.Api.Middleware-CI.yaml
Due: none

Merged in feature/HRP-2845 (pull request #81)
  Husa.Extensions.Common/Enums/MarketCode.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-2230 (pull request #82)
  Directory.Build.props
  Husa.Extensions.Api.Middleware/Husa.Extensions.Api.Middleware.csproj
Due: none

Merged in feature/HRP-2829-downgrade-packages (pull request #83)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Cache/Husa.Extensions.Cache.csproj
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2829-CommonUpdated (pull request #84)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: none

Merged in feature/HRP-2898-convert-trace-id-enricher-into-nuget (pull request #85)
  Husa.Extensions.Logger.Enrichers/CorrelationIdHeaderEnricher.cs
  Husa.Extensions.Logger.Enrichers/EnricherConfigurationExtensions.cs
  Husa.Extensions.Logger.Enrichers/Husa.Extensions.Logger.Enrichers.csproj
  Husa.Extensions.sln
Due: none

Merged in feature/HRP-2898-configure-logger-enricher-azure-pipeline (pull request #87)
  Husa.Extensions.Logger.Enrichers/CorrelationIdHeaderEnricher.cs
  Pipelines/Husa.Extensions.Api-CI.yaml
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml
  Pipelines/Husa.Extensions.Api.Middleware-CI.yaml
  Pipelines/Husa.Extensions.Authorization-CI.yaml
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml
  Pipelines/Husa.Extensions.Linq-CI.yaml
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml
  Pipelines/Husa.Extensions.Media-CI.yaml
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

Merged in feature/HRP-1306 (pull request #86)
  Husa.Extensions.Api/Client/HttpClientExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in feature/HRP-2898-add-tests-to-logger-enricher (pull request #88)
  Husa.Extensions.Logger.Enrichers.Tests/CorrelationIdHeaderEnricherTests.cs
  Husa.Extensions.Logger.Enrichers.Tests/EnricherConfigurationExtensionsTests.cs
  Husa.Extensions.Logger.Enrichers.Tests/Husa.Extensions.Logger.Enrichers.Tests.csproj
  Husa.Extensions.Logger.Enrichers.Tests/Support/DelegateSink.cs
  Husa.Extensions.Logger.Enrichers/CorrelationIdHeaderEnricher.cs
  Husa.Extensions.Logger.Enrichers/Husa.Extensions.Logger.Enrichers.csproj
  Husa.Extensions.sln
Due: none

Merged in feature/HRP-1306 (pull request #89)
  Husa.Extensions.EmailNotification/Configuration/Settings/EmailTemplate.cs
  Husa.Extensions.EmailNotification/Enums/EnumExtensions.cs
  Husa.Extensions.EmailNotification/Enums/TemplateType.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.EmailNotification/Services/EmailSender.cs
  Husa.Extensions.EmailNotification/Services/IEmailSender.cs
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo
