Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml, Pipelines/Husa.Extensions.Media-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Domain-CI.yaml: any of: Husa.Extensions.Domain
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml: any of: Husa.Extensions.Downloader.Trestle, Husa.Extensions.Downloader.Trestle.Tests
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml: any of: Husa.Extensions.Logger.Enrichers
  Pipelines/Husa.Extensions.Media-CI.yaml: any of: Husa.Extensions.Media
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

RP-7374 Restore dispose
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Interfaces/IMessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

HRP-7374 ServiceBus dispose
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Interfaces/IMessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Added new classes to modify the base behavior and stop disposing the bus client and sender
  Husa.Extensions.ServiceBus/Extensions/ConfigurationExtensions.cs
  Husa.Extensions.ServiceBus/Interfaces/IMessagingServiceBusBase2.cs
  Husa.Extensions.ServiceBus/Interfaces/IServiceBusBase.cs
  Husa.Extensions.ServiceBus/Interfaces/IServiceBusBase2.cs
  Husa.Extensions.ServiceBus/Interfaces/IServiceBusSenderFactory.cs
  Husa.Extensions.ServiceBus/Services/MessagesHandler.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase2.cs
  Husa.Extensions.ServiceBus/Services/ServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/ServiceBusBase2.cs
  Husa.Extensions.ServiceBus/Services/ServiceBusSenderFactory.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Implemented the IAsyncDisposable pattern in the sender factory
  Husa.Extensions.ServiceBus/Services/ServiceBusSenderFactory.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Replaced private field with protected property for the logger
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase2.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-7397 (pull request #228)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/MediaBasic.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-7397 (pull request #229)
  Husa.Extensions.Downloader.Trestle/Configuration/AdditionalBlobConfiguration.cs
  Husa.Extensions.Downloader.Trestle/Configuration/AdditionalMarketConfiguration.cs
  Husa.Extensions.Downloader.Trestle/Configuration/MarketLogin.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-7317 (pull request #230)
  Husa.Extensions.Authorization.Tests/Filters/RolesFilterAttributeTests.cs
  Husa.Extensions.Authorization.Tests/Husa.Extensions.Authorization.Tests.csproj
  Husa.Extensions.Authorization.Tests/Providers/TestableRolesFilterAttribute.cs
  Husa.Extensions.Authorization/Filters/RolesFilterAttribute.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.sln
Due: none

Merged in feature/MIS-318 (pull request #231)
  Husa.Extensions.Domain/Entities/Base/IProvideUserInfo.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: Pipelines/Husa.Extensions.Domain-CI.yaml

Merged in feature/MIS-318 (pull request #232)
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-7230-add-generic-summary-field-adder (pull request #233)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-7230-update-quickbooks (pull request #234)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

MIS-318 update Microsoft packages
  Husa.Extensions.Api/Extensions/FilterExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Cache/Husa.Extensions.Cache.csproj
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.OpenAI.Tests/Husa.Extensions.OpenAI.Tests.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Media-CI.yaml

update packages
  Directory.Build.props
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml

update packages
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in hotfix/MIS-318 (pull request #236)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Merged in hotfix/HRP-7605 (pull request #237)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-7230-update-quickbooks-project (pull request #238)
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
Due: none

bugfix/HRP-7563:
  Husa.Extensions.Media/Services/BlobService.cs
Due: Pipelines/Husa.Extensions.Media-CI.yaml

bugfix/HRP-7563
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Feature/HRP-7555 - Updated nuggets with vulneravilities
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/DateTimeConverter.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Repositories/BlobTableRepository.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Feature/HRP-7555 - nugget updated to correct versions
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

HRP-7665 update Azure.Messaging.ServiceBus
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

update nugets
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-7666 (pull request #243)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Interfaces/IConfigureTraceId.cs
  Husa.Extensions.ServiceBus/Interfaces/IProvideTraceId.cs
  Husa.Extensions.ServiceBus/Services/TraceIdProvider.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in bugfix/HRP-7563 (pull request #244)
  Husa.Extensions.Media/Extensions/FileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.Media/Interfaces/IBlobService.cs
  Husa.Extensions.Media/Models/Size.cs
  Husa.Extensions.Media/Services/BlobService.cs
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in bugfix/HRP-7563 (pull request #245)
  Husa.Extensions.Media/Extensions/FileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.Media/Interfaces/IBlobService.cs
  Husa.Extensions.Media/Models/Size.cs
  Husa.Extensions.Media/Services/BlobService.cs
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in feature/HRP-7666 (pull request #246)
  Husa.Extensions.ServiceBus/Extensions/ConfigurationExtensions.cs
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-7666 (pull request #247)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Middlewares/RequestCorrelationIdMiddleware.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

HRP-7809 Add DataChecker Validation
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Validations/DataCheckerAttribute.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-7809 Fix DataChecker Null Case
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Validations/DataCheckerAttribute.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-7860 (pull request #250)
  Husa.Extensions.Common/Exceptions/EntityAlreadyExistsException.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-7919 (pull request #251)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Authorization/UserProvider.cs
Due: none

Merged in feature/HRP-7981 (pull request #252)
  Husa.Extensions.Common.Tests/Validations/DataCheckerAttributeTests.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Validations/DataCheckerAttribute.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-7897 (pull request #253)
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/Models/PropertyDetailRequest.cs
  Husa.Extensions.OpenAI/OpenAIClient.cs
Due: none

HRP-8216 complexTypeProperty added
  Husa.Extensions.Linq/EntityExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

HRP-8216 Update version
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

HRP-8216 Save changes
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-8361 (pull request #255)
  Husa.Extensions.OpenAI.Tests/Helpers/PropertiesExtensionsTests.cs
  Husa.Extensions.OpenAI/Helpers/PropertiesExtensions.cs
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/Models/PropertyDetailRequest.cs
  Husa.Extensions.OpenAI/Options/OpenAIOptions.cs
Due: none

HRP-8376 Improvement string comparison for summary
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.DocumentTests/Configuration/DummyEntity.cs
  Husa.Extensions.DocumentTests/Configuration/RequestSummaryTests.cs
Due: none
