Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml, Pipelines/Husa.Extensions.Media-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Domain-CI.yaml: any of: Husa.Extensions.Domain
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml: any of: Husa.Extensions.Downloader.Trestle, Husa.Extensions.Downloader.Trestle.Tests
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml: any of: Husa.Extensions.Logger.Enrichers
  Pipelines/Husa.Extensions.Media-CI.yaml: any of: Husa.Extensions.Media
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

Husa.Extensions.Downloader.Trestle.csproj edited online with Bitbucket
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6132 (pull request #192)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/Specifications/SortSpecifications.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-6132 (pull request #193)
  Husa.Extensions.Linq.Tests/Husa.Extensions.Linq.Tests.csproj
  Husa.Extensions.Linq.Tests/SortSpecificationsTests.cs
  Husa.Extensions.sln
Due: none

Merged in Feature/HRP-6075 (pull request #194)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/Permission.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in Feature/MIS-243 (pull request #195)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6134-company-admin-read-only (pull request #196)
  Husa.Extensions.Authorization/Enums/RoleEmployee.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
Due: none

Merged in feature/ci-pipeline-extensions-document-master (pull request #186)
  Pipelines/Husa.Extensions.Document.yaml
Due: none

Merged in feature/HRP-6157 (pull request #197)
  Husa.Extensions.Common.Tests/EnumExtensionsTests.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-6221 (pull request #198)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Interfaces/IProvideType.cs
Due: none

Merged in bugfix/HRP-6337 (pull request #199)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/CompensationType.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in bugfix/MIS-254 (pull request #200)
  Husa.Extensions.Downloader.Trestle/Helpers/Parsers/MultipartParser.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6490 (pull request #201)
  Husa.Extensions.Common/Classes/CompositeValidationResult.cs
  Husa.Extensions.Common/ControllerExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

bgufix/HRP-6566 - [PROD][DOWN] Added new field Estimated Close Date to property
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6605 (pull request #204)
  Husa.Extensions.Common.Tests/EnumExtensionsTests.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Feature/HRP-6619 Builder Whitelist && ProcessFullListing conf by market
  Husa.Extensions.Downloader.Trestle.Tests/TrestleClientTest.cs
  Husa.Extensions.Downloader.Trestle/Configuration/MarketConfiguration.cs
  Husa.Extensions.Downloader.Trestle/Configuration/MarketOptions.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/Flooring.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
  NuGet.config
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Feature/HRP-6619 - package MimeKit updated
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6728 (pull request #206)
  Husa.Extensions.UserInfo/Husa.Extensions.UserInfo.csproj
  Husa.Extensions.UserInfo/IQueryUsersRepository.cs
  Husa.Extensions.UserInfo/IUserCacheRepository.cs
  Husa.Extensions.UserInfo/UserCacheRepository.cs
  Husa.Extensions.UserInfo/UserQueriesRepository.cs
Due: Pipelines/Husa.Extensions.UserInfo-CI.yaml

Merged in feature/HRP-6728 (pull request #207)
  Husa.Extensions.UserInfo/Configuration/Bootstrapper.cs
  Husa.Extensions.UserInfo/Husa.Extensions.UserInfo.csproj
Due: Pipelines/Husa.Extensions.UserInfo-CI.yaml

Merged in feature/HRP-5756-create-chatgpt-package (pull request #203)
  .editorconfig
  Directory.Build.props
  Husa.Extensions.OpenAI.Tests/Husa.Extensions.OpenAI.Tests.csproj
  Husa.Extensions.OpenAI.Tests/OpenAIClientTests.cs
  Husa.Extensions.OpenAI.Tests/PropertyDetailRequestTests.cs
  Husa.Extensions.OpenAI.Tests/StringBuilderExtensionsTests.cs
  Husa.Extensions.OpenAI/Api/OpenAIController.cs
  Husa.Extensions.OpenAI/Configuration/OpenAIBoostrapper.cs
  Husa.Extensions.OpenAI/Enums/ModelType.cs
  Husa.Extensions.OpenAI/Helpers/NotEmptyGuidAttribute.cs
  Husa.Extensions.OpenAI/Helpers/StringBuilderExtensions.cs
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/IOpenAIClient.cs
  Husa.Extensions.OpenAI/Models/PromptResponse.cs
  Husa.Extensions.OpenAI/Models/PropertyDetailRequest.cs
  Husa.Extensions.OpenAI/OpenAIClient.cs
  Husa.Extensions.OpenAI/Options/OpenAIOptions.cs
  Husa.Extensions.OpenAI/README.md
  Husa.Extensions.sln
  Pipelines/Husa.Extensions.OpenAI-CI.yaml
Due: none

Merged in feature/HRP-6579 (pull request #208)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Domain-CI.yaml, Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-6817 (pull request #210)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/PreferredMail.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PreferredMedia.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PreferredPublication.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

HRP-6817 ToUTC added
  Husa.Extensions.Common/DateTimeExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-6817 ToUtc added
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-6827 (pull request #212)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/Specifications/BaseSpecifications.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

HRP-6740 HRP-6872 - [PROD][HAR][BE][DOWN] Include Selling Teams library in Husa.Extensions project
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/ArchitecturalStyle.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BuildingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CurrentOrPossibleUse.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CurrentUse.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ListingTerms.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/LotFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SecurityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ShowingConsiderations.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ShowingRequirements.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in feature/HRP-6986 (pull request #214)
  Husa.Extensions.Common/Enums/MarketCode.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in hotfix/0.2.4 (pull request #215)
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
Due: none

Merged in feature/HRP-7002 (pull request #216)
  Husa.Extensions.Linq/EntityExtensions.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/EnumStringCollectionValueConverter.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Feature/HRP-7136 - [Prod][ABOR][BE][DOW] Configuring the LOt downloader
  Husa.Extensions.Downloader.Trestle/Configuration/MarketConfiguration.cs
  Husa.Extensions.Downloader.Trestle/Configuration/MarketOptions.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml

Merged in Feature/HRP-7239 (pull request #218)
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.DocumentTests/Husa.Extensions.Document.Tests.csproj
  Husa.Extensions.Downloader.Trestle.Tests/Husa.Extensions.Downloader.Trestle.Tests.csproj
  Husa.Extensions.Logger.Enrichers.Tests/Husa.Extensions.Logger.Enrichers.Tests.csproj
  Husa.Extensions.Media/Constants/ManagedMediaTypes.cs
  Husa.Extensions.Media/Extensions/FileExtensions.cs
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.Media-CI.yaml

Merged in Feature/HRP-7239 (pull request #219)
  Husa.Extensions.Media/Extensions/FileExtensions.cs
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in Feature/HRP-7239 (pull request #220)
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: Pipelines/Husa.Extensions.Media-CI.yaml

Merged in feature/HRP-7234 (pull request #221)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Api/IdentitySettings.cs
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-7234 (pull request #223)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ValueConverters/EnumStringCollectionValueConverter.cs
  Husa.Extensions.ServiceBus/Attributes/ServiceBusOptions.cs
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in bugfix/HRP-7010 (pull request #224)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Pipelines/Husa.Extensions.Document.yaml
Due: Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-7316 (pull request #225)
  Husa.Extensions.OpenAI/Husa.Extensions.OpenAI.csproj
  Husa.Extensions.OpenAI/Models/PropertyDetailRequest.cs
  Husa.Extensions.OpenAI/OpenAIClient.cs
Due: none

Merged in feature/HRP-7347 (pull request #226)
  Husa.Extensions.Api/Configuration/HostConfiguration.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

feature/HRP-7374 dispose option
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Interfaces/IMessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml
