Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

HRP-4382 - Patch 168 August 02 2023
  Husa.Extensions.Downloader.Trestle/Models/CustomProperty.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/RentIncludes.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WindowFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: none

HRP-4382 - Patch 169 August 30 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/AccessibilityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BuildingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ExteriorFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Flooring.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/FoundationDetails.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/InteriorOrRoomFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/OtherStructures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PatioAndPorchFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PoolFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Restrictions.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SecurityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ShowingRequirements.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StreetSuffix.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SyndicateTo.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/UnitTypeType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WaterSource.cs
Due: none

HRP-4382 - Trestle enums updated to the latest patch
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/AccessibilityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ExteriorFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Heating.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ParkingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PatioAndPorchFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PoolFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SecurityFeatures.cs
Due: none

Merged in Feature/HRP-4382 (pull request #157)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/CustomProperty.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AccessibilityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BuildingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ExteriorFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Flooring.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/FoundationDetails.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Heating.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/InteriorOrRoomFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/OtherStructures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ParkingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PatioAndPorchFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PoolFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PropertySubType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/RentIncludes.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Restrictions.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SecurityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ShowingRequirements.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StreetSuffix.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SyndicateTo.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/UnitTypeType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WaterSource.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WindowFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Member.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: none

Merged in feature/include-authentication-master (pull request #159)
  Pipelines/Husa.Extensions.Api-CI.yaml
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml
  Pipelines/Husa.Extensions.Api.Middleware-CI.yaml
  Pipelines/Husa.Extensions.Authorization-CI.yaml
  Pipelines/Husa.Extensions.Cache-CI.yaml
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Domain-CI.yaml
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml
  Pipelines/Husa.Extensions.Media-CI.yaml
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml
  Pipelines/Husa.Extensions.UserInfo-CI.yaml
Due: none

Merged in feature/HRP-5158-get-bulk-media-trestle (pull request #161)
  Husa.Extensions.Downloader.Trestle/Helpers/Parsers/MultipartImage.cs
  Husa.Extensions.Downloader.Trestle/Helpers/Parsers/MultipartParser.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

Feature/HRP-4992 - Trestle nugget updated to support multiple accounts and markets
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/Disclosures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SystemOrigin.cs
  Husa.Extensions.Downloader.Trestle/Models/MarketOptions.cs
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: none

Merged in bugfix/HRP-5170 (pull request #163)
  Husa.Extensions.Authorization/Enums/RoleEmployee.cs
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
Due: none

Feature/HRP-5287 - Trestle: PossibleUse Enums updated
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/PossibleUse.cs
Due: none

Merged in feature/HRP-5306-update-get-filename-multipart-image (pull request #165)
  Husa.Extensions.Downloader.Trestle/Helpers/Parsers/MultipartImage.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: none

Feature/HRP-5357 - https://homesusa.atlassian.net/browse/HRP-5357
  Husa.Extensions.Downloader.Trestle.Tests/TrestleClientTest.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/AuthInfo.cs
  Husa.Extensions.Downloader.Trestle/Repositories/BlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Repositories/IBlobTableRepository.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/ITrestleRequester.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleClient.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

HRP-5137 Move common code to constants
  Husa.Extensions.Quickbooks/Configuration/Constants.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
Due: none

HRP-5137 Improve settings
  Husa.Extensions.Quickbooks/Configuration/Constants.cs
  Husa.Extensions.Quickbooks/Extensions/QuickbooksBootstrapper.cs
  Husa.Extensions.Quickbooks/Models/InvoiceSettings.cs
Due: none

Merged in feature/ci-update-filters-master (pull request #168)
  Pipelines/Husa.Extensions.Common-CI.yaml
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml
  Pipelines/Husa.Extensions.Logger.Enrichers-CI.yml
Due: none

Merged in Feature/HRP-5577 (pull request #169)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/CurrentUse.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/DocumentsAvailable.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ParkingFeatures.cs
Due: none

HRP-5610 Save changes
  Husa.Extensions.Quickbooks/Extensions/QuickbooksBootstrapper.cs
Due: none

HRP-5610 Update version
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
Due: none

feature/HRP-5610 add comment
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
Due: none

Merged in bugfix/HRP-5595 (pull request #171)
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/Validations/TodayOrAfterAttribute.cs
Due: none

Merged in Feature/HRP-5608 (pull request #172)
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/DateTimeConverter.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-5767 - [Prod][BE][Down-CTX] Update datetime fields from midnight to noon
  Husa.Extensions.Downloader.Trestle/Helpers/Converters/DateTimeConverter.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: none

Merged in feature/HRP-5669 (pull request #174)
  .editorconfig
  Directory.Build.props
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Cache/Husa.Extensions.Cache.csproj
  Husa.Extensions.Common.Tests/ExceptionFilterTest.cs
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common/Comparer.cs
  Husa.Extensions.Common/Exceptions/DomainException.cs
  Husa.Extensions.Common/Exceptions/NotFoundException.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-5669 (pull request #175)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.UserInfo/Husa.Extensions.UserInfo.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Merged in feature/HRP-5669 (pull request #176)
  .editorconfig
  Husa.Extensions.Api/Conventions/RoutePrefixConvention.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Validations/IfRequiredAttribute.cs
  Husa.Extensions.Downloader.RetsSdk/Helpers/Extensions/TypeExtensions.cs
  Husa.Extensions.Downloader.RetsSdk/Husa.Extensions.Downloader.RetsSdk.csproj
  Husa.Extensions.Downloader.RetsSdk/Models/SearchRequest.cs
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/ModelBuilderExtensions.cs
  Husa.Extensions.Quickbooks/Husa.Extensions.Quickbooks.csproj
  Pipelines/Husa.Extensions.Quickbooks-CI.yaml
Due: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/add-authentication-quickbooks-master (pull request #177)
  Pipelines/Husa.Extensions.Quickbooks-CI.yaml
Due: none

Merged in feature/HRP-5807 (pull request #178)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: none

Merged in feature/HRP-5728 (pull request #179)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.Linq/Specifications/BaseSpecifications.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-5900 (pull request #180)
  Husa.Extensions.Common.Tests/ControllerExtensionsTests.cs
  Husa.Extensions.Common.Tests/Husa.Extensions.Common.Tests.csproj
  Husa.Extensions.Common.Tests/Providers/TestController.cs
  Husa.Extensions.Common/ControllerExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Downloader.Trestle.Tests/Husa.Extensions.Downloader.Trestle.Tests.csproj
  Husa.Extensions.Logger.Enrichers.Tests/Husa.Extensions.Logger.Enrichers.Tests.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-5922 (pull request #181)
  Husa.Extensions.Common.Tests/ControllerExtensionsTests.cs
  Husa.Extensions.Common.Tests/Providers/ErrorsResult.cs
  Husa.Extensions.Common.Tests/Providers/MessageResult.cs
  Husa.Extensions.Common/ControllerExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in Feature/HRP-5924 (pull request #182)
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/AOR.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

feature/HRP-5924 - PropertySubType filter replaced with PropertyType Filter
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
Due: none

Merged in feature/HRP-5467 (pull request #184)
  Husa.Extensions.Common.Tests/EnumExtensionsTests.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-5731 (pull request #185)
  Husa.Extensions.Document/Configuration/CosmosDbBootstrapper.cs
  Husa.Extensions.Document/Configuration/CosmosJsonDotNetSerializer.cs
  Husa.Extensions.Document/Extensions/SummaryExtensions.cs
  Husa.Extensions.Document/Husa.Extensions.Document.csproj
  Husa.Extensions.Document/Interfaces/ICosmosLinqQuery.cs
  Husa.Extensions.Document/Interfaces/IDocument.cs
  Husa.Extensions.Document/Interfaces/Repositories/IDocumentRepository.cs
  Husa.Extensions.Document/Models/DocumentGridQueryResult.cs
  Husa.Extensions.Document/Models/SummaryFieldQueryResult.cs
  Husa.Extensions.Document/Models/SummarySectionQueryResult.cs
  Husa.Extensions.Document/QueryFilters/RequestBaseQueryFilter.cs
  Husa.Extensions.Document/Repositories/ContainerRepository.cs
  Husa.Extensions.Document/Repositories/DocumentQueriesRepository.cs
  Husa.Extensions.Document/Repositories/DocumentRepository.cs
  Husa.Extensions.Document/Services/CosmosLinqQuery.cs
  Husa.Extensions.Document/Specifications/BaseSpecifications.cs
  Husa.Extensions.Document/Specifications/Document/DocumentSpecifications.cs
  Husa.Extensions.Document/ValueObjects/SummaryField.cs
  Husa.Extensions.Document/ValueObjects/SummarySection.cs
  Husa.Extensions.DocumentTests/Configuration/ApplicationServicesCollection.cs
  Husa.Extensions.DocumentTests/Configuration/ApplicationServicesFixture.cs
  Husa.Extensions.DocumentTests/Configuration/CosmosJsonDotNetSerializerTests.cs
  Husa.Extensions.DocumentTests/Configuration/DocumentDbSettings.cs
  Husa.Extensions.DocumentTests/Husa.Extensions.Document.Tests.csproj
  Husa.Extensions.DocumentTests/Providers/Models/AddressRecord.cs
  Husa.Extensions.DocumentTests/Providers/Repositories/DocumentQueriesRepository.cs
  Husa.Extensions.DocumentTests/Providers/Repositories/DocumentRepository.cs
  Husa.Extensions.DocumentTests/Repositories/DocumentQueriesRepositoryTests.cs
  Husa.Extensions.DocumentTests/Repositories/DocumentRepositoryTests.cs
  Husa.Extensions.DocumentTests/Specifications/BaseSpecificationsTests.cs
  Husa.Extensions.DocumentTests/Specifications/DocumentSpecificationsTests.cs
  Husa.Extensions.sln
Due: none

Merged in Feature/HRP-5543 (pull request #187)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/SystemOrigin.cs
Due: none

Merged in Feature/HRP-5543 (pull request #188)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/SyndicateTo.cs
  Husa.Extensions.Downloader.Trestle/Models/Office.cs
Due: none

Merged in feature/HRP-6089 (pull request #189)
  Husa.Extensions.Common.Tests/EnumExtensionsTests.cs
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in Feature/HRP-6068 (pull request #190)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Property.cs
Due: none
