Repository HomesUSA-com/Husa.Extensions: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/Husa.Extensions.Api-CI.yaml, Pipelines/Husa.Extensions.Api.Cors-CI.yaml, Pipelines/Husa.Extensions.Cache-CI.yaml, Pipelines/Husa.Extensions.Common-CI.yaml, Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml, Pipelines/Husa.Extensions.EmailNotification-CI.yaml, Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml, Pipelines/Husa.Extensions.UserInfo-CI.yaml

Path conditions:
  Pipelines/Husa.Extensions.Api-CI.yaml: any of: Husa.Extensions.Api
  Pipelines/Husa.Extensions.Api.Cors-CI.yaml: any of: Husa.Extensions.Api.Cors
  Pipelines/Husa.Extensions.Cache-CI.yaml: any of: Husa.Extensions.Cache
  Pipelines/Husa.Extensions.Common-CI.yaml: any of: Husa.Extensions.Common
  Pipelines/Husa.Extensions.Downloader.RetsSdk-CI.yaml: any of: Husa.Extensions.Downloader.RetsSdk
  Pipelines/Husa.Extensions.EmailNotification-CI.yaml: any of: Husa.Extensions.EmailNotification
  Pipelines/Husa.Extensions.Linq-CI.yaml: any of: Husa.Extensions.Linq
  Pipelines/Husa.Extensions.ServiceBus-CI.yaml: any of: Husa.Extensions.ServiceBus
  Pipelines/Husa.Extensions.UserInfo-CI.yaml: any of: Husa.Extensions.UserInfo

Merged in feature/HRP-3485 (pull request #120)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3395-downgrade-efcore-linq (pull request #121)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml

Merged in feature/HRP-3601-create-final-packages (pull request #122)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3524 (pull request #123)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Interfaces/IProvideType.cs
  Husa.Extensions.Common/SummaryExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3591 (pull request #124)
  Husa.Extensions.Common.Tests/SummaryExtensionsTest.cs
  Husa.Extensions.Common/Classes/CommandResult.cs
  Husa.Extensions.Common/Classes/CommandSingleResult.cs
  Husa.Extensions.Domain/Entities/Base/IProvideUserInfo.cs
  Husa.Extensions.Domain/Entities/Entity.cs
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/Repositories/IRepository.cs
  Husa.Extensions.Domain/ValueObjects/ValueObject.cs
  Husa.Extensions.sln
  NuGet.config
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3591 (pull request #126)
  Husa.Extensions.Common/Classes/CommandSingleResult.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Interfaces/IProvideType.cs
  Husa.Extensions.Common/SummaryExtensions.cs
  Husa.Extensions.Common/ValueObjects/SummaryField.cs
  Husa.Extensions.Common/ValueObjects/ValueObject.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3591-versions (pull request #125)
  Husa.Extensions.Authorization/Husa.Extensions.Authorization.csproj
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/UATV3-182 (pull request #127)
  Husa.Extensions.Common.Tests/ComparerTests.cs
  Husa.Extensions.Common/Comparer.cs
  Husa.Extensions.Common/Enums/ComparedValueType.cs
  Husa.Extensions.Common/Enums/OperatorType.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/Validations/IfRequiredAttribute.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3636 (pull request #128)
  Husa.Extensions.EmailNotification/Classes/EmailParameters.cs
  Husa.Extensions.EmailNotification/Classes/Recipient.cs
  Husa.Extensions.EmailNotification/Configuration/Options/EmailOptions.cs
  Husa.Extensions.EmailNotification/Configuration/Settings/EmailTemplate.cs
  Husa.Extensions.EmailNotification/EmailBootstrapper.cs
  Husa.Extensions.EmailNotification/Enums/EnumExtensions.cs
  Husa.Extensions.EmailNotification/Husa.Extensions.EmailNotification.csproj
  Husa.Extensions.EmailNotification/Services/CustomEmailSender.cs
  Husa.Extensions.EmailNotification/Services/EmailSender.cs
  Husa.Extensions.EmailNotification/Services/ICustomEmailSender.cs
Due: Pipelines/Husa.Extensions.EmailNotification-CI.yaml

Feature/MIS-155 - Patch 163 Jan 25 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/AOR.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AreaSource.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/AssociationFeeIncludes.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CommunityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Heating.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StreetSuffix.cs
Due: none

Feature/MIS-155 - Patch 164 Feb 13 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/AreaSource.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ConstructionMaterials.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/InteriorOrRoomFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/OpenHouseType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WaterSource.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WindowFeatures.cs
Due: none

Feature/MIS-155 - Patch 165 Apr 6 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/AOR.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ArchitecturalStyle.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/CommunityFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/InteriorOrRoomFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/MemberType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/OtherEquipment.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Restrictions.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/RoomType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/SyndicateTo.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WindowFeatures.cs
Due: none

Feature/MIS-155 - Patch 166 May 16 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/InteriorOrRoomFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/LaundryFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ParkingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Possession.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PropertySubType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PropertySubTypeAdditional.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/RoomType.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/StreetSuffix.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/WaterSource.cs
Due: none

feature/HRP-3783 - Patches applied up to #166
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
Due: none

Merged in feature/HRP-3586 (pull request #130)
  Husa.Extensions.Media/Constants/ManagedFileExtensions.cs
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
Due: none

Merged in feature/HRP-3865 (pull request #131)
  Husa.Extensions.Common.Tests/StringExtensionsTests.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/StringExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in Feature/HRP-3853 (pull request #132)
  Husa.Extensions.Api/CultureAndLocalizationConfigurationExtensions.cs
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-4016 (pull request #133)
  Husa.Extensions.Api/Husa.Extensions.Api.csproj
Due: Pipelines/Husa.Extensions.Api-CI.yaml

Merged in feature/HRP-3584 (pull request #134)
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: none

Merged in UATV3-408 (pull request #135)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/StringExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in UATV3-408_fix (pull request #136)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in bugfix/HRP-4152 (pull request #137)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/AOR.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/BuildingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/ParkingFeatures.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/PropertySubTypeAdditional.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/Utilities.cs
Due: none

Merged in feature/HRP-4258 (pull request #138)
  Husa.Extensions.Common/Classes/CommandResult.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-4294-add-missing-disclosure-enum-constant (pull request #139)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/Disclosures.cs
Due: none

Merged in bugifx/HRP-4363 (pull request #141)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Domain/Extensions/Extensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in bugifx/HRP-4363 (pull request #142)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in feature/HRP-3361-add-metadata-market-field (pull request #140)
  Husa.Extensions.Linq/Husa.Extensions.Linq.csproj
  Husa.Extensions.ServiceBus/Attributes/MessageMetadataConstants.cs
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Interfaces/IMessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
  Husa.Extensions.ServiceBus/Services/ServiceBusBase.cs
Due: Pipelines/Husa.Extensions.Linq-CI.yaml, Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-4130 (pull request #143)
  Husa.Extensions.Domain/Extensions/Extensions.cs
  Husa.Extensions.Domain/Husa.Extensions.Domain.csproj
  Husa.Extensions.Domain/Validations/RequiredIfCollectionAttribute.cs
Due: none

Merged in feature/HRP-4173-remove-the-from-excluded-words-string-extensions (pull request #144)
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
  Husa.Extensions.Common/StringExtensions.cs
Due: Pipelines/Husa.Extensions.Common-CI.yaml

Merged in bugfix/HRP-4449 (pull request #145)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/MemberDesignation.cs
  Husa.Extensions.Downloader.Trestle/Models/Enums/OtherStructures.cs
Due: none

Merged in feature/HRP-4388-update-packages-service-bus (pull request #146)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-4388-set-market-metadata-in-sb-msg (pull request #147)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-4388-include-only-msg (pull request #148)
  Husa.Extensions.ServiceBus/Extensions/GenericExtensions.cs
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in bugfix/HRP-4449 (pull request #149)
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/PossibleUse.cs
Due: none

Merged in feature/HRP-4388-update-bodytype-assemblyname (pull request #151)
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in feature/HRP-4389-revert-changes (pull request #152)
  Husa.Extensions.ServiceBus/Extensions/GenericExtensions.cs
  Husa.Extensions.ServiceBus/Husa.Extensions.ServiceBus.csproj
  Husa.Extensions.ServiceBus/Services/MessagingServiceBusBase.cs
Due: Pipelines/Husa.Extensions.ServiceBus-CI.yaml

Merged in Feature/HRP-4380 (pull request #153)
  Husa.Extensions.Downloader.Trestle/Helpers/Utils.cs
  Husa.Extensions.Downloader.Trestle/Husa.Extensions.Downloader.Trestle.csproj
  Husa.Extensions.Downloader.Trestle/Models/Enums/SystemOrigin.cs
  Husa.Extensions.Downloader.Trestle/Models/MarketOptions.cs
  Husa.Extensions.Downloader.Trestle/Services/TrestleRequester.cs
  NuGet.config
  Pipelines/Husa.Extensions.Downloader.Trestle-CI.yaml
Due: none

Merged in feature/HRP-4627 (pull request #155)
  Husa.Extensions.Media/Extensions/FormFileExtensions.cs
  Husa.Extensions.Media/Husa.Extensions.Media.csproj
  Husa.Extensions.Media/Services/BlobService.cs
Due: none

Merged in feature/HRP-4557 (pull request #156)
  Husa.Extensions.Common/EnumExtensions.cs
  Husa.Extensions.Common/Husa.Extensions.Common.csproj
Due: Pipelines/Husa.Extensions.Common-CI.yaml

HRP-4382 - Patch 167 June 20 2023
  Husa.Extensions.Downloader.Trestle/Models/Enums/PropertySubType.cs
Due: none
